<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="{% static 'assets/images/favicon-32x32.ico'%}" type="image"/>
    <!--plugins-->
    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
    <link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
<!--wrapper-->
<div class="wrapper">
    <div class="authentication-header"></div>
    <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-4">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                <div class="col mx-auto">
                    {% block content  %}{% endblock content %}
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
    <footer class="bg-white shadow-sm border-top p-2 text-center fixed-bottom">
        <p class="mb-0">Copyright © 2023. All right reserved.</p>
    </footer>
</div>
<!--end wrapper-->
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!--plugins-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!--Password show & hide js -->
<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("bx-hide");
                $('#show_hide_password i').removeClass("bx-show");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("bx-hide");
                $('#show_hide_password i').addClass("bx-show");
            }
        });
    });
    $(document).ready(function () {
        $("#show_hide_comfirm_password a").on("click", function (event) {
          event.preventDefault();
          if ($("#show_hide_comfirm_password input").attr("type") == "text") {
            $("#show_hide_comfirm_password input").attr("type", "password");
            $("#show_hide_comfirm_password i").addClass("bx-hide");
            $("#show_hide_comfirm_password i").removeClass("bx-show");
          } else if (
            $("#show_hide_comfirm_password input").attr("type") == "password"
          ) {
            $("#show_hide_comfirm_password input").attr("type", "text");
            $("#show_hide_comfirm_password i").removeClass("bx-hide");
            $("#show_hide_comfirm_password i").addClass("bx-show");
          }
        });
      });
</script>
<!--app JS-->
</body>


<!-- Mirrored from codervent.com/synadmin/demo/horizontal/authentication-signin-with-header-footer.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Jun 2023 14:37:49 GMT -->
</html>