{% extends 'dashboard/registration/main-registration.html'%} {% load static %}
{% load crispy_forms_tags %} {% block content %}
	<!-- wrapper -->
	<div class="wrapper">
		<div class="authentication-header"></div>
		<div class="authentication-forgot d-flex align-items-center justify-content-center">
			<div class="card forgot-box">
				<div class="card-body text-center">
					<div class="p-4 rounded">
						<div class="text-center">
							<img src="{% static 'assets/images/icons/verified.png'%}" width="120" alt="" />
						</div>
                            <div class="my-4">
								<hp>Your password have being reset </hp>
								<p>
									Now you can now login
								</p>
                            </div>
                            <div class="d-grid gap-2">
                               <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login<i class='bx bx-arrow-back me-1'  style="transform:  rotate(180deg)"></i></a>
                            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end wrapper -->
    {% endblock content%}