{% extends 'dashboard/registration/main-registration.html'%} {% load static %}
{% load crispy_forms_tags %} {% block content %}
	<!-- wrapper -->
	<div class="wrapper">
		<div class="authentication-header"></div>
		<div class="authentication-forgot d-flex align-items-center justify-content-center">
			<div class="card forgot-box">
				<div class="card-body text-center">
					<div class="p-4 rounded">
						<div class="text-center">
							<img src="{% static 'assets/images/icons/sent-image.png'%}" width="120" alt="" />
						</div>
                            <div class="my-4">
								<hp>You have requested to reset your password. if you email is registered with us,</hp>
								<p>
									Please click on the link sent to your email to reset your password:
								</p>
                            </div>
                            <div class="d-grid gap-2">
                               <a href="{% url 'login' %}" class="btn btn-primary btn-lg"><i class='bx bx-arrow-back me-1'></i>Back to Login</a>
                            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end wrapper -->
    {% endblock content%}