{% extends 'dashboard/registration/main-registration.html'%} {% load static %}
{% load crispy_forms_tags %} {% block content %}
	<!-- wrapper -->
	<div class="wrapper">
		<div class="authentication-header"></div>
		<div class="authentication-forgot d-flex align-items-center justify-content-center">
			<div class="card forgot-box">
				<div class="card-body">
					<div class="p-4 rounded">
						<div class="text-center">
							<img src="{% static 'assets/images/icons/lock.png'%}" width="120" alt="" />
						</div>
						<h4 class="mt-5 font-weight-bold">Forgot Password?</h4>
						<p class="text-muted">Enter your registered email ID to reset the password</p>
						<form action="" method='post'>
                            {% csrf_token %}
                            {{form|crispy}}
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary btn-lg">Send</button> <a href="javascript:void(0)" onclick="window.history.back()" class="btn btn-white btn-lg"><i class='bx bx-arrow-back me-1'></i>Back to Login</a>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end wrapper -->
    {% endblock content%}