{% load static %} {% block content %}
<!--start header wrapper-->
<div class="header-wrapper">
  <!--start header -->
  <header>
    <div class="topbar d-flex align-items-center">
      <nav class="navbar navbar-expand">
        <!-- *** logo start -->
        <div class="topbar-logo-header">
          <a href="{% url 'dashboard' %}">
            <div class="">
              <img
                src="{% static 'assets/images/logo-icon.png'%} "
                class="logo-icon"
                alt="logo icon"
              />
            </div>
          </a>
          <a href="{% url 'dashboard' %}">
            <div class="">
              <h4 class="logo-text">Dyingearth</h4>
            </div>
          </a>
        </div>

        <!-- *** logo end -->

        <!-- **** odo start ****-->
        <div class="mobile-toggle-menu">
          <div class="d-flex flex-row align-items-center">
            <a href="{% url 'dashboard' %}">
              <div class="">
                <img
                  src="{% static 'assets/images/logo-icon.png'%} "
                  class="logo-icon"
                  alt="logo icon"
                />
              </div>
            </a>
            <a href="{% url 'dashboard' %}">
              <div class="">
                <h4 class="logo-text">Dyingearth</h4>
              </div>
            </a>
          </div>
        </div>
        <div class="top-menu-left d-none d-lg-block ps-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link d-flex flex-row" href="{% url 'app-todo'%}">
                <div class="me-2"><i class="bx bx-check-square"></i></div>
                <div class="">Todo</div>
              </a>
            </li>
          </ul>
        </div>
        <!-- **** calalender & todo end ****-->

        <div class="user-box dropdown ms-auto">
          <a
            class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret"
            href="{% url 'sensors' user.username  %}"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="{{request.user.avatar.url}}"
              class="user-img"
              alt="avatar"
            />
            <div class="user-info ps-3">
              <p class="user-name mb-0">{{request.user.username}}</p>
              <p class="designattion mb-0">@{{request.user.username}}</p>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="{% url 'sensors' user.username %}"
                ><i class="bx bx-user"></i><span>Sensors</span></a
              >
            </li>

            <li>
              <a class="dropdown-item" href="{% url 'register_new_sensor' request.user.id %}"
                ><i class="bx bx-plus"></i><span>Add Sensor</span></a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'settings' request.user.id  %}"
                ><i class="bx bx-cog"></i><span>Settings</span></a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'dashboard' %}"
                ><i class="bx bx-home-circle"></i><span>Dashboard</span></a
              >
            </li>

            <li>
              <div class="dropdown-divider mb-0"></div>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}"
                ><i class="bx bx-log-out-circle"></i><span>Logout</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!--end header -->
</div>
<!--end header wrapper-->
{% endblock content %}
