<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"  />
    <!--favicon-->
    <link
      rel="icon"
      href="{% static 'assets/images/favicon-32x32.ico'%}"
      type="image"
    />
    <!--js-->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link
      href="{% static 'assets/css/bootstrap-extended.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'assets/css/app.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" />


    <title>Dyingearth | Soil Sensor</title>
  </head>
  <body>
    <!--wrapper-->
    <div class="wrapper">
      {% include "dashboard/header.html"%}
       {% block content %} {% endblock %}
      {% include 'dashboard/footer.html' %}
    </div>
    <!--end wrapper-->
    <!-- custom-jquery -->

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <!--plugins-->
    <script src="{% static 'assets/js/index.js' %}"></script>
    <!--app JS-->
    <script src="{% static 'assets/plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script>
  

  </body>

</html>
