<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="{% static 'assets/images/favicon-32x32.ico'%}" type="image"/>
    <!--plugins-->
    <link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/highcharts/css/highcharts.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"/>
         <!--    plugin for calender -->
    <link href="{% static 'assets/plugins/fullcalendar/css/main.min.css' %}" rel="stylesheet" />



    <!-- loader-->
    <link href="{% static 'assets/css/pace.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'assets/js/pace.min.js' %}"></script>
     <!--    loader for calender -->

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
    <link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
    <!-- Theme Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/semi-dark.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/header-colors.css' %}"/>
    <title>Dyingearth | Soil Sensor</title>
</head>

<body>


<!--wrapper-->
<div class="wrapper">
    {% include "dashboard/header.html"%}
    {% block content %}

    {% endblock %}

    <!--start overlay-->
    <div class="search-overlay"></div>
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->


    <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->


    {% include 'dashboard/footer.html' %}


</div>
<!--end wrapper-->


<!--start switcher-->
<div class="switcher-wrapper">
    <div class="switcher-btn"><i class='bx bx-cog bx-spin'></i>
    </div>
    <div class="switcher-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
            <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
        </div>
        <hr/>
        <h6 class="mb-0">Theme Styles</h6>
        <hr/>
        <div class="d-flex align-items-center justify-content-between">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
                <label class="form-check-label" for="lightmode">Light</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
                <label class="form-check-label" for="darkmode">Dark</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
                <label class="form-check-label" for="semidark">Semi Dark</label>
            </div>
        </div>
        <hr/>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
            <label class="form-check-label" for="minimaltheme">Minimal Theme</label>
        </div>
        <hr/>
        <h6 class="mb-0">Header Colors</h6>
        <hr/>
        <div class="header-colors-indigators">
            <div class="row row-cols-auto g-3">
                <div class="col">
                    <div class="indigator headercolor1" id="headercolor1"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor2" id="headercolor2"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor3" id="headercolor3"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor4" id="headercolor4"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor5" id="headercolor5"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor6" id="headercolor6"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor7" id="headercolor7"></div>
                </div>
                <div class="col">
                    <div class="indigator headercolor8" id="headercolor8"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end switcher-->

<!-- custom-jquery -->

<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!--plugins-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'assets/plugins/highcharts/js/highcharts.js' %}"></script>
<script src="{% static 'assets/plugins/highcharts/js/exporting.js' %}"></script>
<script src="{% static 'assets/plugins/highcharts/js/variable-pie.js' %}"></script>
<script src="{% static 'assets/plugins/highcharts/js/export-data.js' %}"></script>
<script src="{% static 'assets/plugins/highcharts/js/accessibility.js' %}"></script>
<script src="{% static 'assets/plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/custom-jquery.js' %}"></script>
<script>
		new PerfectScrollbar('.dashboard-top-countries');

</script>
<script src="{% static 'assets/js/index.js' %}"></script>
<!--app JS-->
<script src="{% static 'assets/js/app.js' %}"></script>
</body>


<!-- Mirrored from codervent.com/synadmin/demo/horizontal/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Jun 2023 14:33:08 GMT -->
</html>