{% extends 'dashboard/index.html' %}
{% load static %}
{% block content %}
<!--start page wrapper -->
<div class="page-wrapper">
    {% include 'dashboard/messages.html' %}
    <div class="page-content">
        <!--        sensor dark bg statics -->
        <div class="dash-wrapper bg-dark">
            <h1 class="sensor-chart-title"><spann class="text-light">Sensors </spann>Analytics</h1>
            <div class="row ps-4">
               {% include 'dashboard/sensors_profile_right_components.html'%}
            </div><!--end row-->
        </div>
    <!--end row-->
</div>
<script>
        setTimeout(function() {
            $('#oneTimeSucess').hide();
        }, 5000);
</script>

</div>
<!--end page wrapper -->
{% endblock %}
