<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">

<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--twitter og-->
    <meta name="twitter:site" content="@dyingearth">
    <meta name="twitter:creator" content="@dyingearth">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Dyingearth - Optimize your watering
    strategy with
    intelligent insights">
    <meta name="twitter:description"
        content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors.">
    <meta name="twitter:image" content="#">

    <!--facebook og-->
    <meta property="og:url" content="#">
    <meta name="twitter:title" content="Dyingearth - Optimize your watering
    strategy with
    intelligent insights">
    <meta property="og:description"
        content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors.">
    <meta property="og:image" content="#">
    <meta property="og:image:secure_url" content="#">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!--meta-->
    <meta name="description" content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors">
    <meta name="author" content="dyingearth">

    <!--favicon icon-->
    <link rel="icon" href="{% static 'assets-frontend/img/favicon-32x32.ico' %}" type="image/png" sizes="16x16">

    <!--title-->
    <title>Dyingearth - Empower your farm with the intelligence of advanced soil sensors</title>

    <!--build:css-->
    <link rel="stylesheet" href="{% static 'assets-frontend/css/main.css'%}">
    <!-- endbuild -->

    <!--custom css start-->
    <link rel="stylesheet" href="{% static 'assets-frontend/css/custom.css' %}">
    <!--custom css end-->

</head>

<body>

    <!--preloader start-->
    <div id="preloader" class="bg-light-subtle">
        <div class="preloader-wrap">
            <img src="{% static 'assets-frontend/img/favicon-32x32.ico' %}" alt="logo" class="img-fluid preloader-icon">
            <div class="loading-bar"></div>
        </div>
    </div>
    <!--preloader end-->
    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--header section start-->
        <!--header start-->
        <header class="main-header position-absolute w-100">
            <nav class="navbar navbar-expand-xl navbar-dark sticky-header z-10">
                <div class="container d-flex align-items-center justify-content-lg-between position-relative">
                    <a href="index-2.html" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
                        <img src="{% static 'assets-frontend/img/logo-img.png' %}" alt="logo" class="img-fluid logo-white" />
                        <img src="{% static 'assets-frontend/img/logo-img-black.png' %}" alt="logo" class="img-fluid logo-color" />
                    </a>
                    <a class="navbar-toggler position-absolute right-0 border-0" href="#offcanvasWithBackdrop">
                        <i class="flaticon-menu" data-bs-target="#offcanvasWithBackdrop"
                            aria-controls="offcanvasWithBackdrop" data-bs-toggle="offcanvas" role="button"></i>
                    </a>
                    <div class="clearfix"></div>
                    <div class="collapse navbar-collapse justify-content-center">
                        <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                            <li class="nav-item dropdown"><a class="nav-link" href="{% url 'index'%}">Home</a></li>
                            <li><a href="{% url 'about-us' %}" class="nav-link">About Us</a></li>
                            <li class="nav-item dropdown"><a class="nav-link" href="{% url 'contact-us'%}">Contact Us</a> 
                            </li>
                        </ul>
                    </div>
                    <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
                        <a href="javascript:void(0)" class="btn btn-link p-1 tt-theme-toggle">
                            <div class="tt-theme-light" data-bs-toggle="tooltip" data-bs-placement="left"
                                data-bs-title="Light"><i class="flaticon-sun-1 fs-lg"></i></div>
                            <div class="tt-theme-dark" data-bs-toggle="tooltip" data-bs-placement="left"
                                data-bs-title="Dark"><i class="flaticon-moon-1 fs-lg"></i></div>
                        </a> <a href="login.html" class="btn btn-link text-decoration-none me-2">Sign In</a>
                        <a href="request-demo.html" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </nav>
            <!--offcanvas menu start-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
                <div class="offcanvas-header d-flex align-items-center mt-4">
                    <a href="index-2.html" class="d-flex align-items-center mb-md-0 text-decoration-none">
                        <img src="{% static 'assets-frontend/img/logo-img.png' %}" alt="logo" class="img-fluid ps-2" />
                    </a>
                    <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                        <i class="flaticon-cancel"></i>
                    </button>
                </div>
                <div class="offcanvas-body z-10">
                    <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index'%}">Home</a></li>
                        <li><a href="{% url 'about-us'%}" class="nav-link">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact-us'%}">Contact Us</a></li>
                    </ul>
                    <div class="action-btns mt-4 ps-3">
                        <a href="login.html" class="btn btn-outline-primary me-2">Sign In</a>
                        <a href="request-demo.html" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
            <!--offcanvas menu end-->
        </header>
        <!--header end--> <!--header section end-->

        <!--about header section start-->
        <section class="about-header-section ptb-120 position-relative overflow-hidden bg-dark"
            style="background: url('assets-frontend/img/page-header-bg.svg')no-repeat center right">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-5">
                        <div class="section-heading-wrap d-flex justify-content-between z-5 position-relative">
                            <div class="about-content-left">
                                <div class="about-info mb-5">
                                    <h1 class="fw-bold display-5">About Us</h1>
                                    <p class="lead">Dynamically disintermediate technically sound technologies with
                                        compelling quality vectors error-free communities. </p>
                                    <a href="career.html" class="btn btn-primary mt-4 me-3">Open Positions</a>
                                    <a href="#our-team" class="btn btn-soft-primary mt-4">Meet Our Team</a>
                                </div>
                                <img src="{% static 'assets-frontend/img/about-img-1.jpg' %}" alt="about"
                                    class="img-fluid about-img-first mt-5 rounded-custom shadow">
                            </div>
                            <div class="about-content-right">
                                <img src="{% static 'assets-frontend/img/about-img-2.jpg' %}" alt="about"
                                    class="img-fluid mb-5 rounded-custom shadow">
                                <img src="{% static 'assets-frontend/img/about-img-3.jpg' %}" alt="about"
                                    class="rounded-custom about-img-last shadow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z-2 py-5">
            </div>
        </section>
        <!--about header section end-->

        <!--our story section start-->
        <section class="our-story-section pt-60 pb-120"
            style="background: url('{% static "assets-frontend/img/shape/dot-dot-wave-shape.svg" %}') no-repeat left bottom">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-md-12 order-lg-1">
                        <div class="section-heading sticky-sidebar">
                            <h4 class="h5 text-primary">Our Story</h4>
                            <h2>A Great Story Starts with a Friendly Team</h2>
                            <p>Step into the heartwarming tale of creating the Dyingearth sensor, where a friendly team collaborates to bring this innovative technology to life. 
                            </p>
                            <p>Our story is woven with the threads of camaraderie, dedication, and shared passion, ensuring a memorable journey towards building something extraordinary. Join our team as we craft not just a sensor, but a narrative filled with warmth and teamwork.</p>
                           
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 order-lg-0">
                        <div class="story-grid-wrapper position-relative">
                            <!--animated shape start-->
                            <ul
                                class="position-absolute animate-element parallax-element shape-service d-none d-lg-block">
                                <li class="layer" data-depth="0.02">
                                    <img src="{% static 'assets-frontend/img/color-shape/image-2.svg' %}" alt="shape"
                                        class="img-fluid position-absolute color-shape-2 z-5">
                                </li>
                                <li class="layer" data-depth="0.03">
                                    <img src="{% static 'assets-frontend/img/color-shape/feature-3.svg' %}" alt="shape"
                                        class="img-fluid position-absolute color-shape-3">
                                </li>
                            </ul>
                            <!--animated shape end-->
                            <div class="story-grid rounded-custom bg-dark overflow-hidden position-relative">
                                <div class="story-item bg-light-subtle border">
                                    <h3 class="display-5 fw-bold mb-1 text-success">2+</h3>
                                    <h6 class="mb-0">Active Users</h6>
                                </div>
                                <div class="story-item bg-white border">
                                    <h3 class="display-5 fw-bold mb-1 text-primary">2+</h3>
                                    <h6 class="mb-0">Team Members</h6>
                                </div>
                                <div class="story-item bg-light-subtle border">
                                    <h3 class="display-5 fw-bold mb-1 text-danger">425+</h3>
                                    <h6 class="mb-0">Clients Worldwide</h6>
                                </div>
                                <div class="story-item bg-white border">
                                    <h3 class="display-5 fw-bold mb-1 text-primary">1</h3>
                                    <h6 class="mb-0">Projects Completed</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--our story section end-->

        <!--feature section two start-->
        <section class="feature-section-two ptb-120 bg-light-subtle">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading">
                            <h4 class="h5 text-primary">Our Values</h4>
                            <h2>The Core Values that Drive Everything</h2>
                            <p>Quickly incubate functional channels with multidisciplinary architectures.
                                Authoritatively
                                fabricate formulate exceptional innovation.</p>
                            <ul class="list-unstyled mt-5">
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-primary rounded me-4">
                                        <i class="fas fa-bezier-curve text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">Perfect Design</h3>
                                        <p>Experience perfection in design with our sensor. Meticulously crafted for optimal functionality and aesthetic appeal, our sensor boasts a seamless blend of form and function. Elevate your expectations with a sensor that not only performs flawlessly but also adds a touch of sophistication to your technology landscape.
                                        </p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-danger rounded me-4">
                                        <i class="fas fa-fingerprint text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">Advanced Security</h3>
                                        <p>Experience peace of mind with our sensor's advanced security features. Your data is safeguarded through cutting-edge measures, ensuring the utmost protection for your valuable information.</p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-dark rounded me-4">
                                        <i class="fas fa-cog text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">Advanced Hardware</h3>
                                        <p>Experience cutting-edge technology with our sensor's advanced hardware. This ensures top-tier performance, reliability, and precision in capturing crucial data. Elevate your sensing capabilities with the latest in hardware innovation.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="feature-img-wrap position-relative d-flex flex-column align-items-end">
                            <ul class="img-overlay-list list-unstyled position-absolute">
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <h6 class="mb-0">Create a Free Account</h6>
                                </li>
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <h6 class="mb-0">Install Our Sensor</h6>
                                </li>
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <h6 class="mb-0">Start Tracking your Plants needs</h6>
                                </li>
                            </ul>
                            <img src="{% static 'assets-frontend/img/dyingearth-sensor.png' %}" alt="feature image" class="img-fluid rounded-custom">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature section two end-->

        <!--team section start-->
        <section id="our-team" class="team-section ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading text-center">
                            <h5 class="h6 text-primary">Our Team</h5>
                            <h2>The People Behind Dyingearth</h2>
                            <p>Meet the brilliant minds and passionate hearts behind Dyingearth. Our dedicated team, fueled by innovation and a shared commitment, works tirelessly to bring you cutting-edge solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="{% static 'assets-frontend/img/authors/Wisdom Egwim avater.jpg' %}" alt="team" class="img-fluid position-relative">
                                <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">Wisdom Egwim</h5>
                                <p class="text-muted small mb-0">Front End Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="{% static 'assets-frontend/img/authors/janto avater.jpeg' %}" alt="team" class="img-fluid position-relative">
                                <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">Jan Tobias</h5>
                                <p class="text-muted small mb-0">Front End Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="{% static 'assets-frontend/img/authors/frau Ina.jpg' %}" alt="team" class="img-fluid position-relative">
                                <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">Frau Ina</h5>
                                <p class="text-muted small mb-0">Front End Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="{% static 'assets-frontend/img/team/team-4.jpg' %}" alt="team" class="img-fluid position-relative">
                                <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">John Sullivan</h5>
                                <p class="text-muted small mb-0">Front End Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="{% static 'assets-frontend/img/team/team-5.jpg' %}" alt="team" class="img-fluid position-relative">
                                <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">John Sullivan</h5>
                                <p class="text-muted small mb-0">Front End Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="{% static 'assets-frontend/img/team/team-6.jpg' %}" alt="team" class="img-fluid position-relative">
                                <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">John Sullivan</h5>
                                <p class="text-muted small mb-0">Front End Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="{% static 'assets-frontend/img/team/team-7.jpg' %}" alt="team" class="img-fluid position-relative">
                                <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">John Sullivan</h5>
                                <p class="text-muted small mb-0">Front End Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="{% static 'assets-frontend/img/team/team-8.jpg' %}" alt="team" class="img-fluid position-relative">
                                <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">John Sullivan</h5>
                                <p class="text-muted small mb-0">Front End Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--team section end-->

        <!--our location address start-->
        <section class="office-address-section ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading text-center">
                            <h4 class="h5 text-primary">Our Office</h4>
                            <h2>Located Around the World</h2>
                       
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                        <div class="rounded-custom border d-block office-address overflow-hidden z-2"
                            style="background: url('{% static "assets-frontend/img/office-img-1.jpg" %}') no-repeat center center / cover">
                            <div class="office-content text-center p-4">
                                <span class="office-overlay"></span>
                                <div class="office-info">
                                    <h5>Singapore</h5>
                                    <address>
                                        4636 Bombardier Way <br> Sr,Worthington, <br>California(CA), 94102
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                        <div class="rounded-custom border d-block office-address overflow-hidden z-2"
                            style="background: url('{% static "assets-frontend/img/office-img-2.jpg" %}') no-repeat center center / cover">
                            <div class="office-content text-center p-4">
                                <span class="office-overlay"></span>
                                <div class="office-info">
                                    <h5>Los Angeles</h5>
                                    <address>
                                        794 Mcallister <br> St. Oak Harbor, <br>Washington(WA), 98277
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                        <div class="rounded-custom border d-block office-address overflow-hidden z-2"
                            style="background: url('{% static "assets-frontend/img/office-img-3.jpg" %}') no-repeat center center / cover">
                            <div class="office-content text-center p-4">
                                <span class="office-overlay"></span>
                                <div class="office-info">
                                    <h5>New York</h5>
                                    <address>
                                        4219 Snowbird Lane <br> St Carthage, <br>New York(NY), 13619
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                        <div class="rounded-custom border d-block office-address overflow-hidden z-2"
                            style="background: url('{% static "assets-frontend/img/office-img-5.jpg" %}') no-repeat center center / cover">
                            <div class="office-content text-center p-4">
                                <span class="office-overlay"></span>
                                <div class="office-info">
                                    <h5>Barlin City</h5>
                                    <address>
                                        Brandenburgische Straße <br> DE. Berlin Kreuzberg, <br>Berlin(CA), 10997
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--our location address end-->


        <!--footer section start-->
        <footer class="footer-section">
            <!--footer top start-->
            <!--for light footer add .footer-light class and for dark footer add .bg-dark .text-white class-->
            <div class="footer-top  bg-gradient text-white ptb-120"
                style="background: url('assets-frontend/img/page-header-bg.svg')no-repeat bottom right">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-8 col-lg-4 mb-md-4 mb-lg-0">
                            <div class="footer-single-col">
                                <div class="footer-single-col mb-4">
                                    <img src="{% static 'assets-frontend/img/logo-img.png' %}" alt="logo" class="img-fluid logo-white">
                                    <img src="{% static 'assets-frontend/img/logo-img.png' %}" alt="logo" class="img-fluid logo-color">
                                </div>
                                <p>Empower your farm with the intelligence of advanced soil sensors.</p>
                                <div class="ratting-wrap mt-4">
                                    <h6 class="mb-0">10/10 Overall rating</h6>
                                    <ul class="list-unstyled rating-list list-inline mb-0">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-7 mt-4 mt-md-0 mt-lg-0">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 m-auto mt-4 mt-md-0 mt-lg-0">
                                    <div class="footer-single-col">
                                        <h3>Primary Pages</h3>
                                        <ul class="list-unstyled footer-nav-list mb-lg-0">
                                            <li><a href="{% url 'index'%}" class="text-decoration-none">Home</a></li>
                                            <li><a href="{% url 'about-us'%}" class="text-decoration-none">About Us</a></li>
                                            <li><a href="{% url 'contact-us'%}" class="text-decoration-none">Contect Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--footer top end-->

            <!--footer bottom start-->
            <div class="footer-bottom  bg-gradient text-white py-4">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="copyright-text">
                                <p class="mb-lg-0 mb-md-0">&copy; 2023 Dyingearth Rights Reserved. Designed By <a
                                        href="https://egwimcodes.dev/" class="text-decoration-none">Egwim Codes</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="footer-single-col text-start text-lg-end text-md-end">
                                <ul class="list-unstyled list-inline footer-social-list mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer bottom end-->
        </footer>
        <!--footer section end--> <!--footer section end-->

    </div>



    <!--build:js-->
    <script src="{% static 'assets-frontend/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/parallax.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/aos.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/massonry.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/app.js' %}"></script>
    <!--endbuild-->
</body>

</html>