<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">

<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--twitter og-->
    <meta name="twitter:site" content="@dyingearth">
    <meta name="twitter:creator" content="@dyingearth">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Dyingearth - Optimize your watering
    strategy with
    intelligent insights">
    <meta name="twitter:description"
        content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors.">
    <meta name="twitter:image" content="#">

    <!--facebook og-->
    <meta property="og:url" content="#">
    <meta name="twitter:title" content="Dyingearth - Optimize your watering
    strategy with
    intelligent insights">
    <meta property="og:description"
        content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors.">
    <meta property="og:image" content="#">
    <meta property="og:image:secure_url" content="#">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!--meta-->
    <meta name="description" content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors">
    <meta name="author" content="dyingearth">

    <!--favicon icon-->
    <link rel="icon" href="{% static 'assets-frontend/img/favicon-32x32.ico' %}" type="image/png" sizes="16x16">

    <!--title-->
    <title>Dyingearth - Empower your farm with the intelligence of advanced soil sensors</title>

    <!--build:css-->
    <link rel="stylesheet" href="{% static 'assets-frontend/css/main.css'%}">
    <!-- endbuild -->

    <!--custom css start-->
    <link rel="stylesheet" href="{% static 'assets-frontend/css/custom.css' %}">
    <!--custom css end-->

</head>

<body>

    <!--preloader start-->
    <div id="preloader" class="bg-light-subtle">
        <div class="preloader-wrap">
            <img src="{% static 'assets-frontend/img/favicon-32x32.ico' %}" alt="logo" class="img-fluid preloader-icon">
            <div class="loading-bar"></div>
        </div>
    </div>
    <!--preloader end-->
    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--header section start-->
        <!--header start-->
        <header class="main-header position-absolute w-100">
            <nav class="navbar navbar-expand-xl navbar-dark sticky-header z-10">
                <div class="container d-flex align-items-center justify-content-lg-between position-relative">
                    <a href="index-2.html" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
                        <img src="{% static 'assets-frontend/img/logo-img.png' %}" alt="logo" class="img-fluid logo-white" />
                        <img src="{% static 'assets-frontend/img/logo-img-black.png' %}" alt="logo" class="img-fluid logo-color" />
                    </a>
                    <a class="navbar-toggler position-absolute right-0 border-0" href="#offcanvasWithBackdrop">
                        <i class="flaticon-menu" data-bs-target="#offcanvasWithBackdrop"
                            aria-controls="offcanvasWithBackdrop" data-bs-toggle="offcanvas" role="button"></i>
                    </a>
                    <div class="clearfix"></div>
                    <div class="collapse navbar-collapse justify-content-center">
                        <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                            <li class="nav-item dropdown"><a class="nav-link" href="{% url 'index'%}">Home</a></li>
                            <li><a href="{% url 'about-us' %}" class="nav-link">About Us</a></li>
                            <li class="nav-item dropdown"><a class="nav-link" href="{% url 'contact-us'%}">Contact Us</a> 
                            </li>
                        </ul>
                    </div>
                    <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
                        <a href="javascript:void(0)" class="btn btn-link p-1 tt-theme-toggle">
                            <div class="tt-theme-light" data-bs-toggle="tooltip" data-bs-placement="left"
                                data-bs-title="Light"><i class="flaticon-sun-1 fs-lg"></i></div>
                            <div class="tt-theme-dark" data-bs-toggle="tooltip" data-bs-placement="left"
                                data-bs-title="Dark"><i class="flaticon-moon-1 fs-lg"></i></div>
                        </a> <a href="login.html" class="btn btn-link text-decoration-none me-2">Sign In</a>
                        <a href="request-demo.html" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </nav>
            <!--offcanvas menu start-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
                <div class="offcanvas-header d-flex align-items-center mt-4">
                    <a href="index-2.html" class="d-flex align-items-center mb-md-0 text-decoration-none">
                        <img src="{% static 'assets-frontend/img/logo-img.png' %}" alt="logo" class="img-fluid ps-2" />
                    </a>
                    <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                        <i class="flaticon-cancel"></i>
                    </button>
                </div>
                <div class="offcanvas-body z-10">
                    <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index'%}">Home</a></li>
                        <li><a href="{% url 'about-us'%}" class="nav-link">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact-us'%}">Contact Us</a></li>
                    </ul>
                    <div class="action-btns mt-4 ps-3">
                        <a href="login.html" class="btn btn-outline-primary me-2">Sign In</a>
                        <a href="request-demo.html" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
            <!--offcanvas menu end-->
        </header>
        <!--header end--> <!--header section end-->

        <!--page header section start-->
        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark"
            style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mt-5">
                        <h1 class="display-5 fw-bold">Contact Us</h1>
                        <p class="lead">Contact us with any questions or ideas. We're ready to listen and engage.</p>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
            </div>
        </section>
        <!--page header section end-->

        <!--contact us promo section start-->
        <section class="contact-promo ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div
                            class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                            <span class="fas fa-comment fa-3x text-primary"></span>
                            <div class="contact-promo-info mb-4">
                                <h5>Chat with us</h5>
                                <p>We've got live Social Experts waiting to help you <strong>monday to friday</strong>
                                    from
                                    <strong>9am to 5pm EST.</strong>
                                </p>
                            </div>
                            <a href="mailto:hellodyingearth@gmail.com" class="btn btn-link mt-auto">Chat with us</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div
                            class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                            <span class="fas fa-envelope fa-3x text-primary"></span>
                            <div class="contact-promo-info mb-4">
                                <h5>Email Us</h5>
                                <p>Simple drop us an email at <strong>egwimcodes@gmail.com</strong>
                                    and you'll receive a reply within 24 hours</p>
                            </div>
                            <a href="mailto:egwimcodes@gmail.com" class="btn btn-outline-primary mt-auto">Email Us</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div
                            class="contact-us-promo p-5 bg-white rounded-custom custom-shadow text-center d-flex flex-column h-100">
                            <span class="fas fa-phone fa-3x text-primary"></span>
                            <div class="contact-promo-info mb-4">
                                <h5>Give us a call</h5>
                                <p>Give us a ring.Our Experts are standing by <strong>monday to friday</strong> from
                                    <strong>9am to 5pm EST.</strong>
                                </p>
                            </div>
                            <a href="tel:+234 806 903 5907" class="btn btn-link mt-auto">+234 806 903 5907</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--contact us promo section end-->

        <!--contact us form start-->
        <section class="contact-us-form pt-60 pb-120"
            style="background: url('assets/img/shape/contact-us-bg.svg')no-repeat center bottom">
            <div class="container">
                <div class="row justify-content-lg-between align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="section-heading">
                            <h2>Talk to Our Sales & Marketing Department Team</h2>
                            <p>Collaboratively promote client-focused convergence vis-a-vis customer directed alignments
                                via
                                standardized infrastructures.</p>
                        </div>
                        <form action="#" class="register-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="firstName" class="mb-1">First name <span
                                            class="text-danger">*</span></label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="firstName" required
                                            placeholder="First name" aria-label="First name">
                                    </div>
                                </div>
                                <div class="col-sm-6 ">
                                    <label for="lastName" class="mb-1">Last name</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="lastName" placeholder="Last name"
                                            aria-label="Last name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="phone" class="mb-1">Phone <span class="text-danger">*</span></label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="phone" required placeholder="Phone"
                                            aria-label="Phone">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="email" class="mb-1">Email<span class="text-danger">*</span></label>
                                    <div class="input-group mb-3">
                                        <input type="email" class="form-control" id="email" required placeholder="Email"
                                            aria-label="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="yourMessage" class="mb-1">Message <span
                                            class="text-danger">*</span></label>
                                    <div class="input-group mb-3">
                                        <textarea class="form-control" id="yourMessage" required
                                            placeholder="How can we help you?" style="height: 120px"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary  mt-4">Get in Touch</button>
                        </form>
                    </div>
                    <div class="col-lg-5 col-md-10">
                        <div class="contact-us-img">
                            <img src="{% static 'assets-frontend/img/contact-us-img-2.svg' %}" alt="contact us" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--contact us form end-->

        <!--footer section start-->
        <footer class="footer-section">
            <!--footer top start-->
            <!--for light footer add .footer-light class and for dark footer add .bg-dark .text-white class-->
            <div class="footer-top  bg-gradient text-white ptb-120"
                style="background: url('assets-frontend/img/page-header-bg.svg')no-repeat bottom right">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-8 col-lg-4 mb-md-4 mb-lg-0">
                            <div class="footer-single-col">
                                <div class="footer-single-col mb-4">
                                    <img src="{% static 'assets-frontend/img/logo-img.png' %}" alt="logo" class="img-fluid logo-white">
                                    <img src="{% static 'ssets-frontend/img/logo-img.png' %}" alt="logo" class="img-fluid logo-color">
                                </div>
                                <p>Empower your farm with the intelligence of advanced soil sensors.</p>
                                <div class="ratting-wrap mt-4">
                                    <h6 class="mb-0">10/10 Overall rating</h6>
                                    <ul class="list-unstyled rating-list list-inline mb-0">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-7 mt-4 mt-md-0 mt-lg-0">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 m-auto mt-4 mt-md-0 mt-lg-0">
                                    <div class="footer-single-col">
                                        <h3>Primary Pages</h3>
                                        <ul class="list-unstyled footer-nav-list mb-lg-0">
                                            <li><a href="{% url 'index'%}" class="text-decoration-none">Home</a></li>
                                            <li><a href="{% url 'about-us'%}" class="text-decoration-none">About Us</a></li>
                                            <li><a href="{% url 'contact-us'%}" class="text-decoration-none">Contect Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--footer top end-->

            <!--footer bottom start-->
            <div class="footer-bottom  bg-gradient text-white py-4">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="copyright-text">
                                <p class="mb-lg-0 mb-md-0">&copy; 2023 Dyingearth Rights Reserved. Designed By <a
                                        href="https://egwimcodes.dev/" class="text-decoration-none">Egwim Codes</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="footer-single-col text-start text-lg-end text-md-end">
                                <ul class="list-unstyled list-inline footer-social-list mb-0">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer bottom end-->
        </footer>
        <!--footer section end--> <!--footer section end-->

    </div>



    <!--build:js-->
    <script src="{% static 'assets-frontend/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/parallax.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/aos.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/massonry.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/app.js' %}"></script>
    <!--endbuild-->
</body>

</html>