<!DOCTYPE html>
{% load static %}
<html {% load static %}
{% load account socialaccount %}
{% providers_media_js %}
{% load crispy_forms_tags %}l lang="en" data-bs-theme="light">
  <head>
    <!--required meta tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--twitter og-->
    <meta name="twitter:site" content="@dyingearth" />
    <meta name="twitter:creator" content="@dyingearth" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Dyingearth - Optimize your watering
    strategy with
    intelligent insights"
    />
    <meta
      name="twitter:description"
      content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors."
    />
    <meta name="twitter:image" content="#" />

    <!--facebook og-->
    <meta property="og:url" content="#" />
    <meta
      name="twitter:title"
      content="Dyingearth - Optimize your watering
    strategy with
    intelligent insights"
    />
    <meta
      property="og:description"
      content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors."
    />
    <meta property="og:image" content="#" />
    <meta property="og:image:secure_url" content="#" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />

    <!--meta-->
    <meta
      name="description"
      content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors"
    />
    <meta name="author" content="dyingearth" />

    <!--favicon icon-->
    <link
      rel="icon"
      href="{% static 'assets-frontend/img/favicon-32x32.ico' %}"
      type="image/png"
      sizes="16x16"
    />

    <!--title-->
    <title>
      Dyingearth - Empower your farm with the intelligence of advanced soil
      sensors
    </title>

    <!--build:css-->
    <link rel="stylesheet" href="{% static 'assets-frontend/css/main.css'%}" />
    <!-- endbuild -->

    <!--custom css start-->
    <link
      rel="stylesheet"
      href="{% static 'assets-frontend/css/custom.css' %}"
    />
    <!--custom css end-->
  </head>

  <body>
    <!--preloader start-->
    <div id="preloader" class="bg-light-subtle">
      <div class="preloader-wrap">
        <img
          src="{% static 'assets-frontend/img/favicon-32x32.ico' %}"
          alt="logo"
          class="img-fluid preloader-icon"
        />
        <div class="loading-bar"></div>
      </div>
    </div>
    <!--preloader end-->
    <!--main content wrapper start-->
    <div class="main-wrapper">

        <!--register section start-->
        <section class="sign-up-in-section bg-dark ptb-60" style="background: url('{% static 'assets-frontend/img/page-header-bg.svg' %}')no-repeat right bottom">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5 col-md-8 col-12">
                        <a href="index-2.html" class="mb-4 d-block text-center"><img src="{% static 'assets-frontend/img/logo-img.png'%}" alt="logo" class="img-fluid"></a>
                        <div class="register-wrap p-5 bg-light-subtle shadow rounded-custom">
                            <h1 class="h3">Nice to Seeing You Again</h1>
                            <p class="text-muted">Please log in to access your account web-enabled methods of innovative
                                niches.</p>

                            <div class="action-btns">
                                <a href="{% provider_login_url 'google' next='/dashboard/' %}" class="btn google-btn bg-white shadow-sm mt-4 d-block d-flex align-items-center text-decoration-none justify-content-center">
                                    <img src="{% static 'assets-frontend/img/google-icon.svg' %}" alt="google" class="me-3">
                                    <span>Connect with Google</span>
                                </a>
                            </div>
                            <div class="position-relative d-flex align-items-center justify-content-center mt-4 py-4">
                                <span class="divider-bar"></span>
                                <h6 class="position-absolute text-center divider-text bg-light-subtle mb-0">Or</h6>
                            </div>
                            <form action="" method="POST" class="mt-4 register-form">
                                {% csrf_token %}
                                {{form|crispy}}
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mt-3 d-block w-100">Login</button>
                                    </div>
                                </div>
                                <p class="font-monospace fw-medium text-center text-muted mt-3 pt-4 mb-0">Don’t have an
                                    account? <a href="{% url 'register'%}" class="text-decoration-none">Sign up Today</a>
                                    <br>
                                    <a href="{% url 'password_reset'%}" class="text-decoration-none">Forgot password</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--register section end-->
    </div>

      <!--footer section end-->
    </div>
    <!--build:js-->
    <script src="{% static 'assets-frontend/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/parallax.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/aos.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/massonry.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/app.js' %}"></script>
    <!--endbuild-->
  </body>
</html>