<!DOCTYPE html>
{% load static %} {% load account socialaccount %} {% providers_media_js %} 
{% load crispy_forms_tags %}
<html lang="en" data-bs-theme="light">
  <head>
    <!--required meta tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--twitter og-->
    <meta name="twitter:site" content="@dyingearth" />
    <meta name="twitter:creator" content="@dyingearth" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Dyingearth - Optimize your watering
    strategy with
    intelligent insights"
    />
    <meta
      name="twitter:description"
      content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors."
    />
    <meta name="twitter:image" content="#" />

    <!--facebook og-->
    <meta property="og:url" content="#" />
    <meta
      name="twitter:title"
      content="Dyingearth - Optimize your watering
    strategy with
    intelligent insights"
    />
    <meta
      property="og:description"
      content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors."
    />
    <meta property="og:image" content="#" />
    <meta property="og:image:secure_url" content="#" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />

    <!--meta-->
    <meta
      name="description"
      content="Dyingearth - Empower your farm with the intelligence of advanced soil sensors"
    />
    <meta name="author" content="dyingearth" />

    <!--favicon icon-->
    <link
      rel="icon"
      href="{% static 'assets-frontend/img/favicon-32x32.ico' %}"
      type="image/png"
      sizes="16x16"
    />

    <!--title-->
    <title>
      Dyingearth - Empower your farm with the intelligence of advanced soil
      sensors
    </title>

    <!--build:css-->
    <link rel="stylesheet" href="{% static 'assets-frontend/css/main.css'%}" />
    <!-- endbuild -->

    <!--custom css start-->
    <link
      rel="stylesheet"
      href="{% static 'assets-frontend/css/custom.css' %}"
    />
    <!--custom css end-->
  </head>

  <body>
    <!--preloader start-->
    <div id="preloader" class="bg-light-subtle">
      <div class="preloader-wrap">
        <img
          src="{% static 'assets-frontend/img/favicon-32x32.ico' %}"
          alt="logo"
          class="img-fluid preloader-icon"
        />
        <div class="loading-bar"></div>
      </div>
    </div>
    <!--preloader end-->
    <!--main content wrapper start-->
    <div class="main-wrapper">
      <!--header section start-->
      <!--header start-->
      <header class="main-header position-absolute w-100">
        <nav class="navbar navbar-expand-xl navbar-dark sticky-header z-10">
          <div
            class="container d-flex align-items-center justify-content-lg-between position-relative"
          >
            <a
              href="/"
              class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none"
            >
              <img
                src="{% static 'assets-frontend/img/logo-img.png' %}"
                alt="logo"
                class="img-fluid logo-white"
              />
              <img
                src="{% static 'assets-frontend/img/logo-img-black.png' %}"
                alt="logo"
                class="img-fluid logo-color"
              />
            </a>
            <a
              class="navbar-toggler position-absolute right-0 border-0"
              href="#offcanvasWithBackdrop"
            >
              <i
                class="flaticon-menu"
                data-bs-target="#offcanvasWithBackdrop"
                aria-controls="offcanvasWithBackdrop"
                data-bs-toggle="offcanvas"
                role="button"
              ></i>
            </a>
            <div class="clearfix"></div>
            <div class="collapse navbar-collapse justify-content-center">
              <ul
                class="nav col-12 col-md-auto justify-content-center main-menu"
              >
                <li class="nav-item dropdown">
                  <a class="nav-link" href="{% url 'index'%}">Home</a>
                </li>
                <li>
                  <a href="{% url 'about-us' %}" class="nav-link">About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="{% url 'contact-us'%}"
                    >Contact Us</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block"
            >
              <a
                href="javascript:void(0)"
                class="btn btn-link p-1 tt-theme-toggle"
              >
                <div
                  class="tt-theme-light"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Light"
                >
                  <i class="flaticon-sun-1 fs-lg"></i>
                </div>
                <div
                  class="tt-theme-dark"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Dark"
                >
                  <i class="flaticon-moon-1 fs-lg"></i>
                </div>
              </a>
              <a
                href="{% url 'login' %}"
                class="btn btn-link text-decoration-none me-2"
                >Sign In</a
              >
              <a href="{% url 'register' %}" class="btn btn-primary"
                >Get Started</a
              >
            </div>
          </div>
        </nav>
        <!--offcanvas menu start-->
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasWithBackdrop"
        >
          <div class="offcanvas-header d-flex align-items-center mt-4">
            <a
              href="/"
              class="d-flex align-items-center mb-md-0 text-decoration-none"
            >
              <img
                src=""
                alt="logo"
                class="img-fluid ps-2"
              />
            </a>
            <button
              type="button"
              class="close-btn text-danger"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            >
              <i class="flaticon-cancel"></i>
            </button>
          </div>
          <div class="offcanvas-body z-10">
            <ul class="nav col-12 col-md-auto justify-content-center main-menu">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'about-us'%}" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact-us' %}">Contact Us</a>
              </li>
            </ul>
            <div class="action-btns mt-4 ps-3">
              <a href="{% url 'login' %}" class="btn btn-outline-primary me-2"
                >Sign In</a
              >
              <a href="{% url 'register' %}" class="btn btn-primary"
                >Get Started</a
              >
            </div>
          </div>
        </div>
        <!--offcanvas menu end-->
      </header>
      <!--header end-->
      <!--header section end-->

      <!--register section start-->
      <section
        class="sign-up-in-section bg-dark ptb-120"
      >
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-5 col-md-12 order-1 order-lg-0">
              <div class="testimonial-tab-slider-wrap mt-5">
                <h1 class="fw-bold text-white display-5">Create an Account</h1>
                <p>
                  Empower your farm with the intelligence of advanced soil
                  sensors
                </p>
                <hr style="color: orange" />
              </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 order-0 order-lg-1">
              <div
                class="register-wrap p-5 bg-white shadow rounded-custom mt-5 mt-lg-0 mt-xl-0"
              >
                <h3 class="fw-medium h4">
                  Fill out the form to create an account.
                </h3>

                <form action="" method="POST" class="mt-4 register-form">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="input-group mb-3">{{form.first_name}}</div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group mb-3">{{form.last_name}}</div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group mb-3">
                        {{ form.username }} {% if form.username.errors %}
                        <div class="text-danger">
                          *{{ form.username.errors|join:", " }}
                        </div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group mb-3">
                        {{form.email}} {% if form.email.errors %}
                        <div class="text-danger">
                          *{{ form.email.errors|join:", " }}
                        </div>
                        {% endif %}
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="input-group mb-3">{{form.zip_code}}</div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group mb-3">{{form.country}}</div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group mb-3">{{form.password1}}</div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group mb-3">
                        {{form.password2}} {% if form.password2.errors %}
                        <div class="text-danger">
                          *{{ form.password2.errors|join:", " }}
                        </div>
                        {% endif %}
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <label
                          class="form-check-label small"
                          for="flexCheckChecked"
                        >
                          Yes, I'd like to receive occasional marketing emails
                          from us. I have the right to opt out at any time.
                          <a href="#"> View privacy policy</a>.
                        </label>
                        {{form.receive_marketing_mails}}
                      </div>
                    </div>
                    <div class="col-12">
                      <button
                        type="submit"
                        class="btn btn-primary mt-4 d-block w-100"
                      >
                        Create Account
                      </button>
                    </div>
                  </div>
                </form>
                <div
                  class="position-relative d-flex align-items-center justify-content-center mt-4 py-4"
                >
                  <span class="divider-bar"></span>
                  <h6
                    class="position-absolute text-center divider-text bg-light-subtle mb-0"
                  >
                    Or
                  </h6>
                </div>
                <div class="action-btns">
                  <a
                    href="{% provider_login_url 'google' next='/dashboard/' %}"
                    class="btn google-btn mt-4 d-block bg-white shadow-sm d-flex align-items-center text-decoration-none justify-content-center"
                  >
                    <img
                      src="{% static 'assets-frontend/img/google-icon.svg' %}"
                      alt="google"
                      class="me-3"
                    />
                    <span>Sign up with Google</span>
                  </a>
                </div>
                <p
                  class="text-center text-muted mt-4 mb-0 fw-medium font-monospace"
                >
                  Already have an account?
                  <a href="{% url 'login'%}" class="text-decoration-none"
                    >Sign in</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--register section end-->

      <!--footer section start-->
      <!--footer section start-->
      <footer class="footer-section">
        <!--footer bottom start-->
        <div class="footer-bottom bg-dark text-white py-4">
          <div class="container">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-7 col-lg-7">
                <div class="copyright-text">
                  <p class="mb-lg-0 mb-md-0">
                    &copy; 2023 Dyingearth Rights Reserved. Designed By
                    <a
                      href="https://egwimcodes.dev/"
                      class="text-decoration-none"
                      >Egwim Codes</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div
                  class="footer-single-col text-start text-lg-end text-md-end"
                >
                  <ul class="list-unstyled list-inline footer-social-list mb-0">
                    <li class="list-inline-item">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="fab fa-dribbble"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="fab fa-github"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--footer bottom end-->
      </footer>
      <!--footer section end-->
      <!--footer section end-->
    </div>
    <!--build:js-->
    <script src="{% static 'assets-frontend/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/parallax.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/aos.js' %}"></script>
    <script src="{% static 'assets-frontend/js/vendors/massonry.min.js' %}"></script>
    <script src="{% static 'assets-frontend/js/app.js' %}"></script>
    <!--endbuild-->
  </body>
</html>
